body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
}
.nav,
.hero,
.footer{
    background-color: #1f2937;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding:0 70px;
}
h1,
h2{
    color:#f9faf8;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}
h2{
    font-size: 24px;
}
ul{
    list-style: none;
    display:flex;
    padding: 0;
    gap: 15px;
}
a,
.hero-subtext{
    color:#e5e7eb;
    font-size: 18px;
    font-weight: lighter;
}
a {
    text-decoration: none;
  }

.hero{
    display:flex;
    padding:70px;
    gap:15px;
}
.hero-left{
    display: flex;
    flex-direction: column;
    flex:1;
    gap:5px;
}
.button,
.action-button{
    background-color:#3882f6;
    padding: 5px 16px;
    border-radius: 8px;
    border-width: 0;
    width: 20%;
    color: white;
  
}
.hero-right{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
    background: grey;
}
.img{
    display: flex;
    flex:1;
    background: grey;
}
.information  {
    display: flex;
    justify-content: center;
    gap: 50px;
}
.header-text{
    font-size: 36px;
    color:#1f2937;
    font-weight: bolder;
    display:flex;
    justify-content: center;
    margin: 30px 0px;
}

.box{
    border-radius: 8px;
    border-color:#3882f6;
    border-style: solid;
    height: 150px;
    width:150px;
    margin:0;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin: 15px 0px;
}
.text{
    max-width: 150px;
    text-align:center
}
.quotes{
    background-color: #e5e7eb;
    padding:80px;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.author{
    font-weight: bold;
    text-align: right;
}
.action{
  display: flex;
  justify-content:space-between;
  padding: 20px;
  background-color: #3882f6;
  margin:40px;
  border-radius: 6px;
  align-items: center;
  color:white;
}
.action-bold{
    font-weight: bold;
    font-size: 25px;
}

.action-right{
    display:flex;
}
.action-button{
    flex-shrink:0;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    height:32px;
    width:100px;
}

.footer{
    display: flex;
    justify-content: center;
    color:white;
    font-weight: lighter;
    padding:20px;
    font-size: 14px;
}